version: '2.1'

services:

  #
  # rating-api
  #
  rating-api:
    image: 'canyan/rating-api:master'
    environment:
      - RATING_API_HOST=0.0.0.0
      - RATING_API_PORT=8000
      - RATING_API_MONGODB_URI=mongodb://mongodb:27017
    ports:
      - "8000:8000"
    depends_on:
      - mongodb

  #
  # rating-agent
  #
  rating-engine:
    image: 'canyan/rating-engine:master'
    environment:
      - RATING_ENGINE_API_URL=http://rating-api:8000/graphql
      - RATING_ENGINE_MESSAGEBUS_URI=pyamqp://user:password@rabbitmq:5672//
      - RATING_ENGINE_DEBUG=1
    depends_on:
      - rating-api
      - rabbitmq
